@model IEnumerable<FSW.Data.Entities.Feedback>
@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Отзывы</h2>

<div class="panel-body">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-center">Имя</th>
            <th class="text-center">Email</th>
            <th class="text-center">Отзыв</th>
            <th class="text-center">Действия</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.Email</td>
                <td>@(item.Review.Length >= 40 ? (item.Review.Substring(0, 40) + "...") : item.Review)</td>
                <td class="text-center">
                    @Html.ActionLink("Посмотреть полностю", "FeedbackDetails", new { item.id }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
<div class="panel-footer">
    @Html.ActionLink("На главную", "Start", null,
                        new { @class = "btn btn-default" })
</div>