<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/mobileCss")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="~/Content/img/LOGO1.png" style="width:45px; height:45px; float:left;"/>
                @Html.ActionLink("FutureSoftWare", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <p style="margin:40px 0 10px 10px; color:white;">fsw@futuresoftware.org</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Цены и акции", "Index", "Home")</li>
                    <li>@Html.ActionLink("Портфолио", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                    <li class="freespace"></li>
                    <li>@Html.ActionLink("Задать вопрос", "Index", "Home")</li>
                    <li>@Html.ActionLink("Сменить язык", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top: inherit;">
        <div class="jumbotron">
            <h1>Консультация</h1>
            <p class="lead">Если у вас имеются вопросы - задайте их нам</p>
            <p><a href="/Home/AskQuestion" class="btn btn-primary btn-lg" style="text-align:center;display:block;">Задать вопрос &raquo;</a></p>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resource.Layout_Copyright</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
