@section askQuestion {}
<link rel="stylesheet" href="~/Content/priceList.css" />
<link rel="stylesheet" href="/Content/other-pages-shared-styles.css">
@{
    ViewBag.Title = "pricelist";
}
@section navigation {}



<div class="other-site-full-body">
<div class="other-site-pad">
<div class="other-site-body">
<h2 id="scrool">Акции</h2>

<div class="discount">
    <img src="/Content/img/Banner-grey900x400.jpg">

    <img src="/Content/img/Banner-grey600x400.jpg">

    <img src="/Content/img/Banner-grey600x400.jpg">
</div>



<!-- <h2 class="main_title">Тарифные планы</h2> -->
<h2>Тарифные планы</h2>

<div class="tarif">
    <div class="tarifpad">
        <div class="tarifbody">
            <h4>Сайт-визитка</h4>
            <p>Красивый дизайн, современная верстка</p>
            <p>Система управления сайтом</p>
            <p>Размещение 5-7 страниц контента заказчика</p>
            <p>Поддержка в течении месяца(мелкие изменения)</p>
            <p></p>
            <p>
                Срок: от 10 дней <br />
                Цена: от 100 $
            </p>
            <p>
                <div class="center">
                    @Html.ActionLink("Заказать ", "OrderSite", new { text = "Сайт-визитка" }, htmlAttributes: new { @class = "ok", @id = "submitbtn" })
                </div>
            </p>
        </div>
    </div>
    <div class="tarifpad">
        <div class="tarifbody">
            <h4>Бизнес - сайт</h4>
            <p>Отличный дизайн, современная верстка</p>
            <p>Система управления сайтом</p>
            <p>Первоначальная оптимизация контента</p>
            <p>Домен и хостинг по договорённости</p>
            <p>Поддержка в течении 2 месяцов</p>
            <p>
                Срок: от 15 дней <br />
                Цена: от 200 $
            </p>
            <p>
                <div class="center">
                    @Html.ActionLink("Заказать ", "OrderSite", new { text = "Бизнес - сайт" }, htmlAttributes: new { @class = "ok", @id = "submitbtn" })
                </div>
            </p>
        </div>
    </div>
    <div class="tarifpad">
        <div class="tarifbody">
            <h4>Сайт компании</h4>
            <p>Уникальный, профессиональный дизайн, современная верстка</p>
            <p>Система управления сайтом</p>
            <p>Разграничение ролей работников</p>
            <p>Домен и хостинг по договорённости</p>
            <p>Поддержка в течении 3 месяцов</p>
            <p>
                Срок: от 30 дней <br />
                Цена: от 400 $
            </p>
            <p>
                <div class="center">
                    @Html.ActionLink("Заказать ", "OrderSite", new { text = "Сайт компании" }, htmlAttributes: new { @class = "ok", @id = "submitbtn" })
                </div>
            </p>
        </div>
    </div>
</div>
<div class="tarif">
    <div class="tarifpad">
        <div class="tarifbody">
            <h4>Landing Page</h4>
            <p>Красивый дизайн, современная верстка</p>
            <p>Система управления сайтом</p>
            <p>Домен и хостинг по договорённости</p>
            <p>Поддержка в течении 2 месяцов</p>
            <p></p>
            <p>
                Срок: от 14 дней<br />
                Цена: от 250 $
            </p>
            <p>
                <div class="center">
                    @Html.ActionLink("Заказать ", "OrderSite", new { text = "Landing Page" }, htmlAttributes: new { @class = "ok", @id = "submitbtn" })
                </div>
            </p>
        </div>
    </div>
    <div class="tarifpad">
        <div class="tarifbody">
            <h4>Custom сайт</h4>
            <p>Оговаривается с клиентов его задача и предлагается наилучшее решение</p>
            <p>Домен и хостинг по договорённости</p>
            <p>Отличный дизайн, современная верстка</p>
            <p>Первоначальная оптимизация контента</p>
            <p>Поддержка после запуска</p>
            <p>
                Срок: <a href="#">уточнить</a> <br />
                Цена: <a href="#">уточнить</a>
            </p>
            <p>
                <div class="center">
                    @Html.ActionLink("Заказать ", "OrderSite", new { text = "Custom сайт" }, htmlAttributes: new { @class = "ok", @id = "submitbtn" })
                </div>
            </p>
        </div>
    </div>
    <div class="tarifpad">
        <div class="tarifbody">
            <h4>Дополнительные услуги</h4>
            <p>Услуги хостинга, домена ваших сайтов</p>
            <p>Услуги разарботки лого, фирменного стиля, создание PSD макета сайта</p>
            <p>Поддержка ваших сайтов</p>
            <p>Решение проблем / небольшие изменения/доработки ваших сайтов</p>
            <p></p>
            <p>
                Срок: <a href="#">уточнить</a> <br />
                Цена: <a href="#">уточнить</a>
            </p>
            <p>
                <div class="center">
                    @Html.ActionLink("Заказать ", "OrderSite", new { text = "Дополнительные услуги" }, htmlAttributes: new { @class = "ok", @id = "submitbtn" })
                </div>
            </p>
        </div>
    </div>
</div>
</div>
</div>
</div>